[Unit]
Description=SPA Server
Documentation=https://github.com/84codes/single-packet-authorization
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/sbin/spa-server
Restart=always
RestartSec=5
StartLimitIntervalSec=0
User=nobody
Group=nogroup
ProtectSystem=full
NoNewPrivileges=true
Nice=0
OOMScoreAdjust=-250
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
